.homeBarFont {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgba(177, 198, 103, 0.9);
    border-radius: 5px;
    padding: 8px 16px;
    text-transform: uppercase;
}